<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LikeeWallPaper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>videos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC66557E2D2CE7D500355CB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC97ED8629A4A0E400425AFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC97ED9729A4A0E600425AFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC97EDA129A4A0E700425AFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
